#myFooter {
  padding-top: 32px;
}

#myFooter .footer-copyright {
  margin-bottom: 35px;
  text-align: center;
  color: #777;
}

#myFooter ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 18px;
}

#myFooter a {
  color: #282b2d;
  font-size: 18px;
}

#myFooter li {
  display: inline-block;
  margin: 0px 15px;
  line-height: 2;
}

#myFooter .footer-social {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #2f3e46;
}

#myFooter .fa {
  font-size: 2em;
  margin-right: 15px;
  margin-left: 20px;
  background-color: #cad2c5;
  color: #354f52;
  border-radius: 51%;
  padding: 10px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 43px;
  text-decoration: none;
  transition: color 0.2s;
}

#myFooter .bi-facebook:hover {
  color: #2b55ff;
}

#myFooter .bi-facebook:focus {
  color: #2b55ff;
}

#myFooter .bi-google:hover {
  color: red;
}

#myFooter .bi-google:focus {
  color: red;
}

#myFooter .bi-twitter:hover {
  color: #00aced;
}

#myFooter .bi-twitter:focus {
  color: #00aced;
}

#myFooter .bi-linkedin:hover {
  color: #007bb6;
}

#myFooter .bi-linkedin:focus {
  color: #007bb6;
}

#myFooter {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}
