<footer class="mt-5">
    <footer id="myFooter" style="padding: 0px;">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12" style="background: #CAD2C5;">
                    <ul class="list-unstyled mt-3">
                        <li><a class="text-decoration-none" href="index.html" style="text-align: center;font-weight: bold;font-size: 16px;color: #52796F;">Home</a></li>
                        <li><a class="text-decoration-none" href="about.html" style="text-align: center;font-weight: bold;color: #52796F;">About</a></li>
                        <li><a class="text-decoration-none" href="contact.html" style="text-align: center;font-weight: bold;color: #52796F;">Contact</a></li>
                        <li></li>
                    </ul>
                    <p class="footer-copyright" style="color: #52796F;">© 2023 Copyright Text ~ Created By Team 4</p>
                </div>
                <div class="col footer-social"><a class="social-icons" href="#"><i class="fa fa-facebook"></i></a><a class="social-icons" href="#"><i class="fa fa-google-plus"></i></a><a class="social-icons" href="#"><i class="fa fa-twitter"></i></a><a class="social-icons" href="#"><i class="fa fa-linkedin"></i></a></div>
            </div>
        </div>
    </footer>
</footer>