<main>
    <div class="container d-flex flex-column align-items-center py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col text-center">
                <div>
                    <h2 style="color: #2F3E46;font-size: 3em;">Welcome!</h2>
                    <p style="color: #52796F;">Our website is dedicated to providing you with the most reliable and secure email storing and caching services available on the internet today. We understand the importance of maintaining a well-organized and easily accessible email archive, which is why we use advanced caching technology to help speed up your email access times. With our state-of-the-art servers, we can ensure that your emails are stored safely and securely, with regular backups and multiple layers of security to protect your valuable data. Whether you need to store important business correspondence or just want a reliable way to store and access your personal emails, our email storing and caching services are the perfect solution for all your email needs.</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 w-100" style="max-width: 800px;">
            <div class="col-12">
                <div class="card"><img class="card-img w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                        <h4 style="color: #2F3E46;">Let use store it for you!</h4>
                        <p class="text-center" style="color: #52796F;"> Our experienced team of professionals is dedicated to providing you with the best service possible, and we pride ourselves on our attention to detail and commitment to excellence. So why not take the stress out of email management and let us handle it for you? Sign up for our email storing services today and enjoy peace of mind knowing your emails are safe, secure, and always within easy reach.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card"><img class="card-img w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                        <h4 style="color: #2F3E46;">It is So easy to start!</h4>
                        <p style="color: #52796F;">why wait? Sign up today and experience the peace of mind that comes with knowing your emails are secure and easily accessible whenever you need them!</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card"><img class="card-img w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                        <h4 style="color: #2F3E46;">Check out our plans</h4>
                        <p style="color: #52796F;">With our reliable and secure email storage system, you can rest assured that your emails are in good hands. We have a range of storage plans to suit your needs. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>