<main>
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="color: #172f76;">Meet the Team</h2>
            <hr style="height: 2px;color: #214a80;background-color: #172f76;" />
            <p class="text-center" style="color: #172f76;font-family: Muli, sans-serif;">Team 4...</p>
        </div>
        <div class="buttons"><a class="btn text-capitalize" role="button" href="#" style="background-color: #172f76;color: #ffffff;font-family: Muli, sans-serif;font-weight: 300;font-size: 15px;"><strong>Read More</strong><br /></a></div>
    </div>
</main>