<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    sr
    <script defer src="assets/bootstrap/js/bootstrap.min.js"></script>
    <title>{{ title }}</title>
  </head>

  <body>
    <app-header></app-header>
    <main>
      <div class="container py-4 py-xl-5">
        <div class="row mb-5">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Heading</h2>
            <p>
              Curae hendrerit donec commodo hendrerit egestas tempus, turpis
              facilisis nostra nunc. Vestibulum dui eget ultrices.
            </p>
          </div>
        </div>
      </div>
    </main>
    <app-footer></app-footer>
  </body>
</html>
