<main class="container" style="background: #9fb8ad">
  <section>
    <div class="pt-5 pb-5">
      <h2 class="text-center mt-2 mb-2">You are now logged out.</h2>
      <h2 class="text-center">Thank you and have a great day!</h2>
      <p class="text-center mt-5" style="color: #2f3e46; font-size: 1.2em">
        If you wish to log back into our email storing service, simply click
        onto the log in button!
      </p>
      <div class="text-center mt-5">
        <a
          class="btn text-center"
          role="button"
          routerLink="/login"
          style="background: #2f3e46; border-radius: 0.5em; color: white"
          >Log Back In</a
        >
      </div>
    </div>
  </section>
</main>
