<main>
  <section>
    <div class="container">
      <div class="mb-5 ce">
        <h1 class="text-center mt-3" style="color: #2f3e46">Sign up</h1>
      </div>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="ms-2">
        <div class="mb-3">
          <label class="form-label" for="f_name">First Name</label>
          <input
            class="form-control"
            type="text"
            id="f_name"
            formControlName="f_name"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="l_name">Last Name</label>
          <input
            class="form-control"
            type="text"
            id="l_name"
            formControlName="l_name"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" id="email" formControlName="email" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="password"
            >Password (Minimum 8 characters)</label
          >
          <input
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <select class="form-control" id="title" formControlName="title">
            <option value="">-- Select Title --</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
          </select>
        </div>
        <div class="mb-3">
          <button
            class="btn btn-primary d-block w-100"
            type="submit"
            style="background: #2f3e46"
          >
            Sign up
          </button>
        </div>
      </form>
    </div>
  </section>
</main>
